body
{
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

.header
{
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    line-height: 1rem;
}

.pageheader
{
    margin-bottom: 1rem;
}

.inlineheader .author
{
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    display: block;
}

.pageheader .actions ul
{
    border-bottom: 1px solid #000;
}

.inlinepage .actions ul
{
    border-bottom: 0;
}

#otherlanguages ul
{
    margin: 0;
    padding: 6px;
    list-style-type: none;
}

#otherlanguages li
{
    display: inline;
    padding: .2rem .4rem;
}

.pageheader #otherlanguages
{
    border-bottom: 1px solid #000;
}

.inlinecontent
{
    margin-top: .4rem;
}

.pagefooter,
.inlinefooter,
.comments
{
    clear: both;
}

.pagefooter,
.inlinefooter
{
    font-size: small;
    text-align: right;
    margin-top: 1rem;
}

#pageinfo
{
    margin: 1rem 0;
    border-top: 1px solid #000;
}

.tags
{
    margin-top: 1rem;
}

.inlinepage .tags
{
    display: inline;
}

.mapparent
{
    text-decoration: none;
}

.img caption
{
    font-size: 80%;
    caption-side: bottom;
    text-align: center;
}

#backlinks
{
    margin-top: 1rem;
    display: none;
}

#searchform
{
    display: inline;
    float: right;
}

#editcontent, #editmessage
{
    box-sizing: border-box;
    display: block;
    font-family: monospace;
    width: 100%;
}

.editcontentdiv
{
    margin-left: 0;
    margin-right: 0;
}

#content
{
    margin-left: auto;
    margin-right: auto;
}

pre
{
    overflow: auto;
}

div.recentchanges
{
    border-style: solid;
    border-width: 1px;
    overflow: auto;
    width: auto;
    clear: none;
    background: #eee;
    color: black !important;
}
.recentchanges .metadata
{
    padding: 0px 0.5rem;
}
.recentchanges .changelog
{
    font-style: italic;
    clear: both;
    display: block;
    padding: 1px 2px;
    background: white !important;
    color: black !important;
}
.recentchanges .desc
{
    display: none;
}
.recentchanges .diff
{
    display: none;
}
.recentchanges .committer
{
    float: left;
    margin: 0;
    width: 40%;
}
.recentchanges .committype
{
    float: left;
    margin: 0;
    width: 5%;
    font-size: small;
}
.recentchanges .changedate
{
    float: left;
    margin: 0;
    width: 35%;
    font-size: small;
}
.recentchanges .pagelinks
{
    float: right;
    margin: 0;
    width: 60%;
}

#blogform
{
    padding: 10px 10px;
    border: 1px solid #aaa;
    background: #eee;
    color: black !important;
    width: auto;
    overflow: auto;
}

.inlinepage
{
    margin-top: 1rem;
    padding: 0;
    border: none;
    overflow: auto;
}

.pagedate,
.pagelicense,
.pagecopyright
{
    font-style: italic;
    display: block;
}

.error
{
    color: #C00;
}

.sidebar
{
    background: white;
    color: black !important;
    border: none;
}

.sidebar li
{
    box-sizing: border-box;
    background-color: #f5f5f5;
    border: 1px solid rgba(0,0,0,0.15);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 0 0 5px;
    padding: 9.5px;
    width: 100%;
    text-align: center;
}

hr.poll
{
    height: 10pt;
    color: white !important;
    background: #eee;
    border: 2px solid black;
}
div.poll
{
    margin-top: 1ex;
    margin-bottom: 1ex;
    padding: 1ex 1ex;
    border: 1px solid #aaa;
}

span.color
{
    padding: 2px;
}

.comment-header,
.microblog-header
{
    font-style: italic;
    margin-top: .3rem;
}
.comment .author,
.microblog .author
{
    font-weight: bold;
}
.comment-subject
{
    font-weight: bold;
    display: none;
}
.comment
{
    border: 1px solid #aaa;
    padding: 3px;
}

div.progress
{
    margin-top: 1ex;
    margin-bottom: 1ex;
    border: 1px solid #888;
    width: 400px;
    background: #eee;
    color: black !important;
    padding: 1px;
}
div.progress-done
{
    background: #ea6 !important;
    color: black !important;
    text-align: center;
    padding: 1px;
}

/* things to hide in printouts */
@media print
{
    .actions { display: none; }
    .tags { display: none; }
    .feedbutton { display: none; }
    #searchform { display: none; }
    #blogform { display: none; }
    #backlinks { display: none; }
}

/* infobox template */
.infobox
{
    float: right;
    margin-left: 2ex;
    margin-top: 1ex;
    margin-bottom: 1ex;
    padding: 1ex 1ex;
    border: 1px solid #aaa;
    background: white;
    color: black !important;
}

/* notebox template */
.notebox
{
    float: right;
    margin-left: 2ex;
    margin-top: 1ex;
    margin-bottom: 1ex;
    padding: 1ex 1ex;
    border: 1px solid #aaa;
    width: 25%;
    background: white;
    color: black !important;
}

/* popup template and backlinks hiding */
.popup
{
    border-bottom: 1px dotted #366;
    color: #366;
}
.popup .balloon,
.popup .paren,
.popup .expand
{
    display: none;
}
.popup:hover .balloon,
.popup:focus .balloon
{
    position: absolute;
    display: inline;
    margin: 1rem 0 0 -2rem;
    padding: 0.625rem;
    border: 2px solid;
    background-color: #dee;
    color: black;
}

/* form styling */
fieldset
{
    margin: 1ex 0;
    border: 1px solid black;
}
legend
{
    padding: 0 1ex;
}
.fb_submit
{
    float: left;
    margin: 2px 0;
}
label.block
{    
    display: block;   
}
label.inline
{    
    display: inline;
}
input#openid_identifier
{
    background: url(wikiicons/openidlogin-bg.gif) no-repeat;
    background-color: #fff;
    background-position: 0 50%;
    color: #000;
    padding-left: 18px;
}
input#searchbox
{
    background: url(wikiicons/search-bg.gif) no-repeat;
    background-color: #fff;
    background-position: 100% 50%;
    color: #000;
    padding-right: 16px;
}
/* invalid form fields */
.fb_invalid
{
    color: red;
    background: white !important;
}
/* required form fields */
.fb_required
{
    font-weight: bold;
}

/* highlight plugin */
pre.hl { color:#000000; background-color:#ffffff; }
.hl.num { color:#2928ff; }
.hl.esc { color:#ff00ff; }
.hl.str { color:#ff0000; }
.hl.dstr { color:#818100; }
.hl.slc { color:#838183; font-style:italic; }
.hl.com { color:#838183; font-style:italic; }
.hl.dir { color:#008200; }
.hl.sym { color:#000000; }
.hl.line { color:#555555; }
.hl.mark { background-color:#ffffbb; }
.hl.kwa { color:#000000; font-weight:bold; }
.hl.kwb { color:#830000; }
.hl.kwc { color:#000000; font-weight:bold; }
.hl.kwd { color:#010181; }

/* calendar plugin */
.month-calendar-day-this-day,
.year-calendar-this-month
{
    background-color: #eee;
}
.month-calendar-day-head,
.month-calendar-day-nolink,
.month-calendar-day-link,
.month-calendar-day-this-day,
.month-calendar-day-future
{
    text-align: right;
}
.month-calendar-arrow A:link,
.year-calendar-arrow A:link,
.month-calendar-arrow A:visited,
.year-calendar-arrow A:visited
{
    text-decoration: none;
    font-weight: normal;
    font-size: 150%;
}

/* outlines */
li.L1 { list-style: upper-roman; }
li.L2 { list-style: decimal; }
li.L3 { list-style: lower-alpha; }
li.L4 { list-style: disc; }
li.L5 { list-style: square; }
li.L6 { list-style: circle; }
li.L7 { list-style: lower-roman; }
li.L8 { list-style: upper-alpha; }

/* tag cloud */
.pagecloud
{
    max-width: 25rem;
    margin-left: auto;
    margin-right: 0;
    text-align: center;
    padding: 10px 10px;
    border: 1px solid #aaa;
    background: #eee;
    color: black !important;
}
.smallestPC { font-size: 70%; }
.smallPC { font-size: 85%; }
.normalPC { font-size: 100%; }
.bigPC { font-size: 115%; }
.biggestPC { font-size: 130%; }

/* orange feed button */
.feedbutton
{
    background: #ff6600;
    color: white !important;
    border-left: 1px solid #cc9966;
    border-top: 1px solid #ccaa99;
    border-right: 1px solid #993300;
    border-bottom: 1px solid #331100;
    padding: 0px 0.5rem 0px 0.5rem;
    font-weight: bold;
    font-size: small;
    text-decoration: none;
    margin-top: 1rem;
}
.feedbutton:hover
{
    color: white !important;
    background: #ff9900;
}

/* openid selector */
#openid_choice
{
    display: none;
}
#openid_input_area
{
    clear: both;
    padding: 10px;
}
#openid_btns,
#openid_btns br
{
    clear: both;
}
#openid_highlight
{
    background-color: black;
    float: left;
}
.openid_large_btn
{
    padding: 1rem 1.5rem;
    border: 1px solid #DDD;
    margin: 3px;
    float: left;
}
.openid_small_btn
{
    padding: 4px 4px;
    border: 1px solid #DDD;
    margin: 3px;
    float: left;
}
a.openid_large_btn:focus
{
    outline: none;
}
a.openid_large_btn:focus
{
    -moz-outline-style: none;
}
.openid_selected
{
    border: 4px solid #DDD;
}
.comment
{
    border: none;
}

.comment-header
{
    text-align: right;
    visibility: hidden;
    position: relative;
}

.comment-header .author
{
    visibility: visible;
    position: absolute;
    right: 0rem;
}

.comment-header .author:before
{
    content: "~";
}

.comment .actions
{
    text-align: right;
    font-size: smaller;
}

.comment .actions ul
{
    padding: 0rem;
}

.comment .actions ul li
{
    padding: 0rem;
}

#comments
{
    width: 35rem;
    margin-left: auto;
    margin-right: auto;
}

#comments #feedlink
{
    text-align: right;
}

.feedlink,
#feedlink
{
    display: none;
}

img.right,
table.align-right
{
    float: right;
    clear: right;
    margin-left: 1rem;
}

img.left,
table.align-left
{
    float: left;
    clear: left;
    margin-right: 1rem;
}

img.center,
table.align-center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen
{
    .pageheader .title.header
    {
        display: none;
    }
}

@media screen and (max-device-width: 480px)
{
    body
    {
        padding: .5rem;
        margin: 0;
    }

    /* disable auto-zoom */
    input[type='text'], input[type='number'], textarea
    {
        font-size: 16px;
    }

    #editcontent
    {
        margin: none;
        padding: none;
    }

    #content img.right,
    table.img.right
    {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #content img.left,
    table.img.left
    {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
